@import './mixing.scss';
@import './variables.scss';

.about-card{
  @include displayPosition(flex, relative);
  @include dimension(90%, 210px);
  @include flexAttribute(column,space-evenly,center);
  padding: 15px;
  border: 0;
  border-radius: 20px;
  min-height: 210px;
  color: white;
  max-width: 510px;
  max-height: 280px;

  h3{
    margin: 0;
    text-decoration: underline;
  }

  .about-card-content{
    text-align: center;
  }

  .about-framework{
    @include portfolioFrameworks;

    div{
        @include boxShadow(3px 3px 6px rgba(0,0,0,0.8));
    }
  }
}

@media screen and (min-width: 940px) {
  .about-card{
    @include dimension(50%,35vh);
    align-self:auto;

    .about-framework{
      div {
        padding: 10px;
      /*  img{
        @include dimension(38px,38px);
      } */
    }
    }
  }
}
