@import './../style/mixing.scss';
@import './../style/variables.scss';

#home{
  @include dimension($fullWidth,auto);
  @include displayPosition(flex,absolute);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: ($fullHeight /4);

  div{
    @include displayPosition(block,relative);
  }

}
