@import './mixing.scss';
@import './variables.scss';

h2{
  font-size: 24px;
}

#home{
  @include fullPageDimension;
  @include displayPosition(flex,relative);
  @include flexAttribute(column,center,center);
  background:  url($tablePic) no-repeat left top fixed;

  div{
    @include displayPosition(block,relative);
    padding: 10px;
    text-align: center;
  }
  #nameIntro{
    font-size: 26px;
    font-family: 'Fredoka One', cursive;
    font-style: italic;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.8);
    //animation: introName 3.5s ease-in;
  }

  #introContent{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.8);
    animation: contentIntro 1.5s ease-in;
  }
}
// Bounce the title
/*@keyframes introName {
  0%{ opacity: 0;}
  40%{ opacity: 0;}
  100%{ opacity: 1;}
}*/

// Fade in the Name in intro content
@keyframes contentIntro {
  0%{ opacity: 0;}
  //60%{ opacity: 0;}
  100%{ opacity: 1;}
}

// Css for all devices larger than moblie phones
@media screen and (min-width: 450px){
  h2{
    font-size: calc(24px + 0.9vw);
  }
  h3{
    font-size: calc(14px + 0.9vw);
  }
  #home{
    #nameIntro{
      font-size: calc(26px + 3vw);
    }
    #introContent{
      font-size: calc(18px + 1vw);
    }
  }

}
