@import './../style/mixing.scss';
@import './../style/variables.scss';

*{  box-sizing: border-box; }
html, body{
  margin: 0;
  width: 100vw;
  height: 100vh;

}
 #root{
   @extend body;
   background:  url($tablePic) no-repeat left top fixed;
   background-size: $fullWidth $fullHeight;

 }


#main{
  @include displayPosition(flex, relative);

  width: $fullWidth;
  height: $fullHeight;
  color: white;
}
