@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Knewave&family=Roboto&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/*
font-family: 'Knewave', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Pacifico', cursive;
*/
@mixin titleSpace {
  padding-top: 60px;
}
@mixin satisfyFont() {
  font-family: 'Satisfy', cursive;
}
@mixin displayPosition($display, $position){
  display: $display;
  position: $position;
}

@mixin fullPageDimension {
  width: 100%;
  min-height: $fullHeight;
}

@mixin dimension($width,$height){
  width: $width;
  height: $height;
}

@mixin boxShadow($value){
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

// Display flex direction, justify, and align attributes
@mixin flexAttribute($direction,$justify,$align) {
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Border
@mixin zeroBorder() {
  border: 0;
  border-radius: 10px;
}

@mixin portfolioFrameworks(){
  @include displayPosition(flex, relative);
  @include dimension(100%, auto);
  @include flexAttribute(row,space-around,center);

  div:hover{
    transform: scale(1.2);
  }
  div{
    @include displayPosition(inline-block, relative);
    @include dimension(auto, auto);
    cursor: pointer;
    border-radius: 50%;
    padding: 4px;
    background-color: white;

    span{
      visibility: hidden;
      @include dimension(auto,auto);
      position: absolute;
      bottom: 125%;
      left: -50%;
      padding: 5px 10px;
      z-index: 10;
      opacity: 0;
      transition: opacity 0.3s;
      color: white;
      background-color: rgba(0,0,0,0.7);
      border-radius: 6px;
    }

    img{
      @include displayPosition(block, relative);
      @include dimension(calc(24px + 0.8vw),calc(24px + 0.8vw));
    }
  }
  div span::after{
    content:"";
    position: absolute;
    top: 100%;
    left: 37%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
  }
  div:hover span{
    visibility: visible;
    opacity: 1;
  }
}
