@import './mixing.scss';
@import './variables.scss';

#project{
  @include displayPosition(flex,relative);
  @include flexAttribute(column,center,center);
  @include fullPageDimension;
  @include titleSpace;
  background-color: #2C6277;

  #project-container{
    @include dimension(100%,auto);
    @include displayPosition(flex,relative);
    @include flexAttribute(row,space-around,center);
    flex-wrap: wrap;
    max-width: 1380px;
    padding: 20px auto;
  }
}
