
$homePic: './../image/laptop.jpg';
$tablePic: './../image/table.jpeg';
$keyboardPic: './../image/keyboard.jpg';
$fullWidth: 100vw;
$fullHeight: 100vh;

// color
$HintOfRed: #f1f4f1;
$Tapestry: #b2659f;
$Bouquet: #be90aa;
$BurningSand: #d49076;
$GunPowder: #34383e;
;
